.kgl-bg{
    background-color: coral;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond
}
.west-bg{
    background-color:coral;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond
}
.east-bg{
    background-color:rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond
}
.green-bg{
    background-color: teal;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}